@keyframes slide-in {
    from {
      transform: translatez(200%);
      opacity: 0; 
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  .animate-slide-in {
    animation: slide-in 8s ease-out;
  }
  






